.jumbotron{
    background-image: url("https://i.postimg.cc/YC5HGqVS/Promo-You-Tube-Banner.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-color: rgb(235, 231, 231);

}

h1 {
    color: white;
    
    text-shadow: 4px 4px 9px rgb(0, 0, 0);;
}